* {
    font-family: sans-serif;
}

html {
    background-color: coral;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: antiquewhite;
}

.display {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.display-bottom {
    font-size: 30px;
    display: flex;
    align-items: flex-end;
    flex: 3;
    align-self: flex-end; 
    justify-self: flex-end;
}

.buttons-row {
    display: flex;
    height: 70px;
    background-color: brown;
}

.button {
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: grey;
}

.button:hover {
    background-color: black;
    color: white;
}

.number {
    background-color: white;
}
